# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# database
*.db

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# Development environment files
.vscode/
.idea/
.history

# Node.js (Backend)
pc/backend/node_modules/
pc/backend/package-lock.json
pc/backend/.env
pc/backend/*.db
pc/data/
pc/backend/data/
pc/backend/*.sqlite
pc/backend/*.sqlite3

# Python (__pycache__)
esp32/__pycache__/

# Editor/IDE Files
.vscode/
.idea/
*.log

# System Files (macOS, Linux, Windows)
.DS_Store
Thumbs.db
node_modules
